<header>
    <img class="img-header" src="imgs/trash.png" />
    <h1 class="site-header">SoftUni Properties</h1>
    <nav id="menu">
        <ul>
            <li class="nav-button"><a href="#/home">Home</a>
            </li>
            <li class="nav-button"><a href="#/estates">Estates</a>
            </li>
            <li class="nav-button"><a href="#/estates/addEstate">Add Estate</a>
            </li>
            <li class="nav-button"><a href="#/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
